**/node_modules
**/dist
**/build
**/.next
**/.turbo
**/coverage
**/.git
**/.github
**/.vscode
**/.idea
**/personal
**/docs/archive
**/.env
**/.env.local
**/.env.*.local
**/*.log
**/.DS_Store
**/Thumbs.db
contracts/artifacts
contracts/cache
contracts/typechain-types
README.md
