auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=false
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=@vitest*
public-hoist-pattern[]=prettier
public-hoist-pattern[]=typescript
prefer-frozen-lockfile=true
fund=false
audit=true
loglevel=warn
